<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "LCTF SDK" ?>
<!-- The Description of the product -->
<?define Description = "SDK for controlling ChemImage LCTFs." ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "ChemImage" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{DD12BA84-F77F-409C-BC4D-7952285216E5}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "ChemImageLctfSdkSetup.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<?define Commander_ProjectDir=$(var.LCTFCommander.ProjectDir)?>
	<?define SdkSetup_TargetDir=$(var.SdkSetup.TargetDir)?>
	<Bundle Name="$(var.Name)" 
	        Version="!(bind.packageVersion.SetupPackage)"
	        Manufacturer="!(bind.packageManufacturer.SetupPackage)"
	        UpgradeCode="$(var.UpgradeCode)"
	        IconSourceFile="$(var.Commander_ProjectDir)icon.ico" >
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
			SuppressOptionsUI="yes"
            LicenseFile="MITLicense.rtf"
            LogoFile="install-logo.png"
            />
		</BootstrapperApplicationRef>

		<Chain>
			<PackageGroupRef Id="NetFx462Web"/>
			<!-- TODO: Define the list of chained packages. -->
			<MsiPackage Id="SetupPackage" SourceFile="$(var.SdkSetup_TargetDir)SdkSetup.msi" />
		</Chain>
	</Bundle>
</Wix>
